services:
  backend:
    build: ./backend
    volumes:
      - ./backend/db:/app/db
    ports:
      - ${PORT_BACKEND}:8000
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - OPENAI_API_KEY=${OPENAI_API_KEY}

  frontend:
    build:
      context: ./ui
      args:
        - REACT_APP_BACKEND_URL=${REACT_APP_BACKEND_URL}
    ports:
      - ${PORT_FRONTEND}:3000
    environment:
      - REACT_APP_BACKEND_URL=${REACT_APP_BACKEND_URL}
