SQLAlchemy~=2.0.29
ollama~=0.1.8
fastapi_camelcase~=2.0.0
pydantic~=2.7.0
typing_extensions~=4.11.0
fastapi~=0.110.1
starlette~=0.37.2
uvicorn~=0.29.0
alembic~=1.13.1
setuptools~=68.2.0
python-dotenv~=1.0.1
openai~=1.30.3
PyJWT~=2.9.0
passlib[bcrypt]~=1.7.4
python-multipart