.multi-value-toggle {
  display: flex;
  border: 1px solid deepskyblue;
  border-radius: 25px;
  width: fit-content;
  overflow: hidden;
  background-color: white;
}

.multi-value-toggle input[type='radio'] {
  display: none;
}

.multi-value-toggle label {
  background-color: white;
  color: darkslategray;
  text-align: center;
  cursor: pointer;
  flex: 1;
  padding: 2px 5px;
  transition: all 0.3s ease;
}

.multi-value-toggle div:first-child label {
  padding-left: 8px;
}

.multi-value-toggle div:last-child label {
  padding-right: 8px;
}

.multi-value-toggle input[type='radio']:checked + label {
  background-color: deepskyblue;
  color: black;
}
